body {
    font-family: 'Raleway', sans-serif;
    background: #262626;
}

h1{
    font-size: 20em;
    font-weight: 300;
    color: #ffffff;
}

h2{
    font-size: 3em;
    font-weight: 300;
    padding: 0 1em;
    color: #ffffff;
}

h3{
    font-size: 2em;
    font-weight: 400;
    height: 5em;
    padding-top: 2em;
    color: #ffffff;
}

a{
    font: 5em;
    font-weight: 200;
}

p{
    color: #262626;
    font-size: 3em;
    font-weight: 200;
}

.top{
    background: url('../images/bg.jpg') no-repeat center center fixed;
    text-align: center;
    color: #ffffff;
    min-height: 100vh;
}

.mid {
    background: url('../images/bg1.png');
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    min-height: 100vh;
}

#regions_div{
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
}

.sputnik{
    transform: rotate(40deg);
    width: 100px;
    height: 100px;
}

.earth{
    width: 100px;
    height: 100px;
}

.saturn{
    width: 1.2em;
    height: 1.2em;
}

h1.title{
    padding-top: 1em;
    font-size: 20vw;
}

h2.title{
    font-size: 5vw;
}

h1.satellite{
  font-size: 10vw;
}

h1.country{
  font-size: 8vw;
}

h3.orbital{
  color: #262626;
}

.table{
    color: #262626;
    font-size: 1.5em;
    font-weight: 100;
    text-align: center;
}

a.list-group-item {
    background-color: transparent;
    border: transparent;
    color: #ffffff;
}